body, html{
    background-color: antiquewhite; 
    margin: 0 auto;
    padding:0 auto;
}

input[type=submit] input[type=text]{
    background-color: azure;
    border: black 1px;
    margin-bottom: 10px;
}

input[type=text]{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}

.form{
    background-color: rgb(177, 48, 48);
    padding: 1%;
    margin-bottom: 20px;
    width: 300px;
    left:10%;
    display: flex;
    flex-direction: column;
    margin:5%;
    border-radius: 10%;
    border: black
}
.card p{margin:5px;}
.card img{max-width:90%;}

.label{
    text-align: left;
}

.container {
    height: 30%;
    width: 30% ;
    border:black;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    
    display: flex;
    margin:5%;
    flex-direction: row; 
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 20% ;
    margin-bottom: 20%;
}
.container:empty{visibility: hidden;}