input[type=submit], input[type=text]{
    background-color: azure;
    border: black 2px;
}

input[type=text]{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html{
    background-color: antiquewhite;
}


.card{

    align-items: center;
    position: absolute;
    text-align: center;
    top:45%;
    width:10%;
    left:5%;
    margin:0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

input{margin:10px

}