input[type=submit], input[type=text]{
    background-color: azure;
    border: black 2px;
}

input[type=text]{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html{
    background-color: antiquewhite;
    margin:10px
}


.card{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height:10%;
    width: 20%;
    top: 50%;
    left:10%;
}
input{margin:10px

}